div.header{
  background-color: #8b3737;
  height: 7vh;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
}

.logo {
  display: block;
  font-style: normal;
  font-size: 1.3em;
  position: relative;
  color: yellow;
  font-weight: bolder;
  z-index: 100;
  margin: 0.5rem;
}

//div.navigator{
//  background-color: #703f43;
//  height: 3vh;
//  width: 100%;
//  position: fixed;
//  z-index: 30;
//  top: 7vh;
//  display: block;
//}

div.search-box {
  width: 100%;
  position: fixed;
  height: 2.5em;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
  top: 7vh;
  background-color: white;
  z-index: 10;
}

input {
  width: 35vw;
  border: solid;
  border-radius: 0.3em;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: lightyellow;
  border-color: #8b4f4c;
  color: #8b3737;
  font-size: 1em;
  position: relative;
}

input:focus {
  border-color: #ff961a;
  outline: none;
}

.search-icon {
  display: inline-block;
  padding-left: 0.5em;
  font-size: 2em;
  position: relative;
  color: 	#8b3737;
  vertical-align: middle;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

#business-summary {
  top: 23vh;
  position: relative;
  z-index: 1;
}

.boxes{
  display: inline-block;
  margin-left: 5%  ;
  margin-right: 5%  ;
  position: relative;
  text-align: left;
  border-top: inset;
  border-width: 0.9px;
}

.box {
  display: inline-block;
  position: relative;
  margin: 1em;
  vertical-align: top;
  min-width: 15vw;
  max-width: 100vw;
}
.box p {
  margin: 0.3em;
}

img {
  max-width: 80vw;
  border-radius: 1rem;
}

#comment-box {
  line-height: 1.5em;
}

#details-box, #address-box {
  max-width: 40vw;
}

.secondary-focus {
  color: saddlebrown;
  font-weight: normal;
}

#business-name {
  color: saddlebrown;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
/* iphone */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  body{
    //background-color: #f7ffda;
  }
  img {
    max-width: 80vw;
  }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
  img {
    max-width: 20vw;
  }

  body{
    //background-color: #ffd1d1;
  }
}


/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px) {
  body{
    //background-color: #feffe7;
  }
  .box{
    max-width: 30vw;
  }
  img {
    width: 15vw;
  }
}
